.task-display{
    float: left;
    width:50%;
    height:1000px;
    background-color: blue;
}

.task-entry{
    float:left;
    width: 50%
}

.tasks{
    display: none;
}

.delete-button{
    display:block;
    float: left;
    background-color: maroon;
    position:relative;
    left:70%;
    width:10%;
    height:80%;
    margin-left:20px;
    height: 5%;
}

.complete-button{
    float:left;
    display:inline;
    background-color: green;
    position:relative;
    left:70%;
    width:10%;
    height:80%;
    margin-left: 20px;
    height: 5%;
}

#incomplete-tasks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid black;
    width:80%;
}

.single-task{
    
    
    /* float:right;
    display:inline; */
    color:black;
    background-color: whitesmoke;
    border: 10px solid green;
}

#task-button{
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#task-entered{
    background-color:blanchedalmond
}